torch
transformers
scikit-learn
datasets
jsonlines
OpenAttack
umap-learn
wget
sentence_transformers
strsimpy
hdbscan
language-tool-python
matplotlib
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
