Sphinx
sphinx-autobuild
sphinx_rtd_theme
recommonmark
sphinx_markdown_tables
myst_parser
OpenAttack
umap-learn
jsonlines
matplotlib
pandas
wget
sentence_transformers
strsimpy
hdbscan
language_tool_python
scikit-learn>=1.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability